.hide-content {
    display: none
}

.top-bar, .top-bar-right{
    background-color: rgb(34, 19, 248);
}

.menu>li>a
{
    color: white;
    background-color: rgb(34, 19, 248);
}
.menu button:hover{
    
    background-color: lime;
}

.menu button, .menu input {
    margin-bottom: 0;
    margin-right: auto;
    
}

h1{
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    stroke: rgb(248, 248, 248);
}
#current
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.subheader
{
    
    background-color: transparent;
    color: black;
    font-size: 20px;
    text-align: center;
}
body{
    background-color: white;
}
#link-0,#link-1,#link-2
{
    font-size: 25px;
    text-align: right;
}

